## Editor directory
**/.vscode

## Ignore NPM 'node_modules' directory
**/node_modules

## Ignore log files
yarn-error.log*

## Ignore .env file - secrets inside
.env

## Ignore NPM configuration file
.npmrc

## Ignore Miscellaneous
**/.misc

## Other files/directories to ignore
**/*.bak
**/storage
